<section class="container">
  <p id="notice"><%= notice %></p>
  <article class="card-container">
    <header><h2><%= @article.title%></h2></header>
    <%= @article.body.html_safe %>
    <% if can? :manage, Article %>
    <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-md btn-danger" %>
    
  <%end%>
  </article>
  <%= link_to 'Back to Articles', articles_path, class: "btn btn-lg btn-info" %>
  
</section>