<section class="container">
  <p id="notice"><%= notice %></p>
  <article class="card-container">
    <header><h2><%= @article.title%></h2></header>
    <%= @article.body.html_safe %>
  </article>
 
  <% if can? :manage, Article %>
    <%= link_to 'Edit', edit_article_path(@article) %>
  <%end%>
  <%= link_to 'Return to main article page', articles_path %>
</section>